## Minecraft load time benchmark
{{#if modpackName}}

### {{modpackName}}

{{/if}}

---

<p align="center" style="font-size:160%;">
MC total load time:<br>
{{floor mcLoadTime}} sec
<br>
<sup><sub>(
{{mcLoadTimeMin}} min
)</sub></sup>
</p>

<br>
<!--
Note for image scripts:
  - Newlines are ignored
  - This characters cant be used: +<"%#
-->
<p align="center">
<img src="https://quickchart.io/chart.png?w=400&h=60&c={%20type: 'horizontalBar',%20data: {%20datasets: [%20{{#each loadingTimeline}}%20{label: '{{this.[0]}}\n', data: [{{num this.[1]}}]},%20{{/each}}%20]%20},%20options: {%20layout: { padding: { top: 10 } },%20scales: {%20xAxes: [{display: false, stacked: true}],%20yAxes: [{display: false, stacked: true}],%20},%20elements: {rectangle: {borderWidth: 2}},%20legend: {display: false},%20plugins: {datalabels: {%20color: 'white',%20font: {%20family: 'Consolas',%20},%20formatter: (value, context) =>%20[context.dataset.label, value, 's'].join('')%20}},%20annotation: {%20clip: false,%20annotations: [{%20type: 'line',%20scaleID: 'x-axis-0',%20value: {{loadingTimeline.[0].[1]}},%20borderColor: 'black',%20label: {%20content: '{{loadingTimeline.[0].[2]}}',%20fontSize: 8,%20enabled: true,%20xPadding: 8, yPadding: 2,%20yAdjust: -20%20},%20}%20]%20},%20}%20}"/>
</p>

<br>

# Mods Loading Time

<p align="center">
<img src="https://quickchart.io/chart.png?w=400&h=300&c={%20type: 'outlabeledPie',%20options: {%20rotation: Math.PI,%20cutoutPercentage: 25,%20plugins: {%20legend: !1,%20outlabels: {%20stretch: 5,%20padding: 1,%20text: (v,i)=>[%20v.labels[v.dataIndex],' ',%20(v.percent*1000|0)/10,%20String.fromCharCode(37)].join('')%20}%20}%20},%20data: {...%20`%20{{#each modLoadingTime}}%20{{color}} {{num time}}s {{{wordWrap name}}}{{#unless @last}};{{/unless}}%20{{/each}}%20`%20.split(';').reduce((a, l) => {%20l.match(/(\w{6}) *(\d*\.\d*) ?s (.*)/s)%20.slice(1).map((a, i) => [[String.fromCharCode(35),a].join(''), parseFloat(a), a][i])%20.forEach((s, i) =>%20[a.datasets[0].backgroundColor, a.datasets[0].data, a.labels][i].push(s)%20);%20return a%20}, {%20labels: [],%20datasets: [{%20backgroundColor: [],%20data: [],%20borderColor: 'rgba(22,22,22,0.3)',%20borderWidth: 1%20}]%20})%20}%20}"/>
</p>

<br>

# Top Mods Details (except JEI, FML and Forge)

<p align="center">
<img src="https://quickchart.io/chart.png?w=400&h=450&c={%20options: {%20scales: {%20xAxes: [{stacked: true}],%20yAxes: [{stacked: true}],%20},%20plugins: {%20datalabels: {%20anchor: 'end',%20align: 'top',%20color: 'white',%20backgroundColor: 'rgba(46, 140, 171, 0.6)',%20borderColor: 'rgba(41, 168, 194, 1.0)',%20borderWidth: 0.5,%20borderRadius: 3,%20padding: 0,%20font: {size:10},%20formatter: (v,ctx) =>%20ctx.datasetIndex!=ctx.chart.data.datasets.length-1 ? null%20: [((ctx.chart.data.datasets.reduce((a,b)=>a- -b.data[ctx.dataIndex],0)*10)|0)/10,'s'].join('')%20},%20colorschemes: {%20scheme: 'office.Damask6'%20}%20}%20},%20type: 'bar',%20data: {...(() => {%20let a = { labels: [], datasets: [] };%20`%20{{#each fmlSteps}}%20{{@index}}: {{.}}{{#unless @last}};{{/unless}}%20{{/each}}%20`%20.split(';')%20.map(l => l.match(/\d: (.*)/).slice(1))%20.forEach(([name]) => a.datasets.push({ label: name, data: [] }));%20`%20{{#each fmlSteps}}      {{@index}}{{/each}};%20{{#each (truncate loaderSteps 10)}}%20{{padEnd 30 @key}}|%20{{~#each .}}{{num .}}{{#unless @last}}|{{/unless}}{{/each}}%20{{~#unless @last}};{{/unless}}%20{{/each}}%20`%20.split(';').slice(1)%20.map(l => l.split('|').map(s => s.trim()))%20.forEach(([name, ...arr], i) => {%20a.labels.push(name);%20arr.forEach((v, j) => a.datasets[j].data[i] = v)%20}); return a%20})()}%20}"/>
</p>

<br>

# TOP JEI Registered Plugis

<p align="center">
<img src="https://quickchart.io/chart.png?w=700&c={%20options: {%20elements: { rectangle: { borderWidth: 1 } },%20legend: false%20},%20type: 'horizontalBar',%20data: {...(() => {%20let a = {%20labels: [], datasets: [{%20backgroundColor: 'rgba(0, 99, 132, 0.5)',%20borderColor: 'rgb(0, 99, 132)',%20data: []%20}]%20};%20`%20{{#each (truncate jeiPlugins 12)}}%20{{padEnd 5 .}}: {{@key}}{{#unless @last}};{{/unless}}%20{{/each}}%20`%20.split(';')%20.map(l => l.split(':'))%20.forEach(([time, name]) => {%20a.labels.push(name);%20a.datasets[0].data.push(time)%20})%20; return a%20})()%20}%20}"/>
</p>

<br>

# FML Stuff

Loading bars that usually not related to specific mods.

⚠️ Shows only steps that took 1.0 sec or more.

<p align="center">
<img src="https://quickchart.io/chart.png?w=500&h=400&c={%20options: {%20rotation: Math.PI*1.125,%20cutoutPercentage: 55,%20plugins: {%20legend: !1,%20outlabels: {%20stretch: 5,%20padding: 1,%20text: (v)=>v.labels%20},%20doughnutlabel: {%20labels: [%20{%20text: 'FML stuff:',%20color: 'rgba(128, 128, 128, 0.5)',%20font: {size: 18}%20},%20{%20text: '{{num fmlStuff.total}}s',%20color: 'rgba(128, 128, 128, 1)',%20font: {size: 22}%20}%20]%20},%20}%20},%20type: 'outlabeledPie',%20data: {...(() => {%20let a = {%20labels: [],%20datasets: [{%20backgroundColor: [],%20data: [],%20borderColor: 'rgba(22,22,22,0.3)',%20borderWidth: 2%20}]%20};%20`%20{{#each (filterTime fmlStuff.list 1.0)}}%20{{color}} {{num time}}s {{wordWrap name}}{{#unless @last}};{{/unless}}%20{{/each}}%20`%20.split(';')%20.map(l => l.match(/(\w{6}) *(\d*\.\d*) ?s (.*)/s))%20.forEach(([, col, time, name]) => {%20a.labels.push([name, ' ', time, 's'].join(''));%20a.datasets[0].data.push(parseFloat(time));%20a.datasets[0].backgroundColor.push([String.fromCharCode(35), col].join(''))%20})%20; return a%20})()}%20}"/>
</p>
